In [1]:
!pip install kafka-python

Collecting kafka-python
  Downloading kafka_python-2.0.2-py2.py3-none-any.whl (246 kB)
Installing collected packages: kafka-python
Successfully installed kafka-python-2.0.2

WARNING: Error parsing requirements for pytest-remotedata: [Errno 2] No such file or directory: 'c:\\users\\laxma\\anaconda3\\lib\\site-packages\\pytest_remotedata-0.3.2.dist-info\\METADATA'
WARNING: Error parsing requirements for pytest-openfiles: [Errno 2] No such file or directory: 'c:\\users\\laxma\\anaconda3\\lib\\site-packages\\pytest_openfiles-0.4.0.dist-info\\METADATA'
WARNING: Error parsing requirements for pytest-astropy-header: [Errno 2] No such file or directory: 'c:\\users\\laxma\\anaconda3\\lib\\site-packages\\pytest_astropy_header-0.1.2.dist-info\\METADATA'
WARNING: Error parsing requirements for hypothesis: [Errno 2] No such file or directory: 'c:\\users\\laxma\\anaconda3\\lib\\site-packages\\hypothesis-5.5.4.dist-info\\METADATA'

In [2]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [3]:
#this is the way in which kafkaproducer is connected to kafkatopics and pushes the data to topic
producer = KafkaProducer(bootstrap_servers=['54.198.84.237:9092'], #change ip here
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [4]:
producer.send('demo_test', value={'surnasdasdame':'hvhvhvhv'})

In [5]:
data= pd.read_csv("https://raw.githubusercontent.com/darshilparmar/stock-market-kafka-data-engineering-project/main/indexProcessed.csv")

In [6]:
data.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [13]:
data.to_csv("C:\\Users\\laxma\\Desktop\\stock_market_dataset.csv",index=False)

In [15]:
data.tail()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
104219,J203.JO,2021-05-25,66054.92188,66812.45313,66022.97656,66076.67969,66076.67969,0.0,4625.367578
104220,J203.JO,2021-05-26,66076.67969,66446.36719,66030.35156,66108.22656,66108.22656,0.0,4627.575859
104221,J203.JO,2021-05-27,66108.22656,66940.25000,66102.54688,66940.25000,66940.25000,0.0,4685.817500
104222,J203.JO,2021-05-28,66940.25000,67726.56250,66794.60938,67554.85938,67554.85938,0.0,4728.840157
104223,J203.JO,2021-05-31,67554.85938,68140.85156,67554.85938,67964.03906,67964.03906,0.0,4757.482734

In [ ]:
#in this way the data is sent to kafkatopic 
while True:
    stock_dict = data.sample(1).to_dict(orient='records')
    producer.send('demo_test', value=stock_dict)

In [8]:
producer.flush()